PORT=4000
MONGODB_URI=mongodb://mongo:27017/tews
JWT_SECRET=change-me
MSEED_PATH=/data/mseed
DEFAULT_ADMIN_USERNAME=user_bmkg
DEFAULT_ADMIN_PASSWORD=superadmin123
DEFAULT_ADMIN_REGION=central
KAFKA_BROKERS=localhost:9092
KAFKA_CLIENT_ID=tews-backend
KAFKA_GROUP_ID=tews-backend-consumer
SEEDLINK_HOST=seedlink
SEEDLINK_PORT=18000
